<mat-card class="tweet">
  <mat-card-content>
    <div class="tweet--user">
      <a href="https://twitter.com/{{tweet.user.screen_name}}" target="_blank">
        <img class="tweet--user-avatar" [src]="tweet.user.profile_image_url_https" alt="" />
      </a>
      <div class="tweet--user-name">
        {{ tweet.user.name }}<span>@{{tweet.user.screen_name}}</span>
      </div>
    </div>

    <p class="tweet--body">{{ tweet.text }}</p>

    <hr>
    <div class="tweet--time">{{ tweet.timestamp_ms | date:'E LLL d, y - h:mm aaa' }}</div>
  </mat-card-content>
  <mat-card-actions *ngIf="analyzeButton">
    <button mat-button (click)="goToTweetAnalysis()">Click to Analyze {{replyCount | number}} Replies</button>
  </mat-card-actions>
</mat-card>

